#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  height: 100vh; /* Ensure full height for proper centering */
}

.logo {
  font-size: 3rem; /* Adjust based on your preference */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; /* Prevent text wrapping */
  animation: fluctuateAndMove 2s ease-in-out forwards;
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
}

@keyframes fluctuateAndMove {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  60% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(0, 0) scale(1); /* Final position at top-left with no offsets */
  }
}
